:root {
    --color-black: #1e262b;
    --color-light-green: #82a992;
    --color-dark-green: #53765f;
    --color-light-brown: #cdb4a2;
    --color-medium-brown: #7b7665;
    --color-orange: #b1733d;
    --color-red: #a9463a;
    --color-dark-brown: #4f4b40;
    --color-light-blue: #7b88a2;
    --color-dark-blue: #42506e;
}